.aaroncontainer{
  background-color: #f5f4f5;
  align-items:center;
  margin-top:40px;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.col1 {
  flex-basis: 25%; /* First column takes up 25% of the container */
  padding: .5rem;
  line-height: 1.5;
}

.col2, .col3, .col4, .col5 {
  flex-basis: 15%; /* Each of the remaining columns takes up 15% of the container */
  padding: .5rem;
  line-height: 1.5;
}

.uaaronlist {
  list-style: none;
  text-decoration: none;
  text-align: left;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}
.uaaronlist li{
  padding-bottom:15px;
  font-size: .85rem;
}
.siteDescription{
  font-size:1.1rem;
}
